.heading {
  margin-bottom: 40px;
}
.inner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));
  gap: 16px;
}
@media (width < 500px) {
  .inner {
    grid-template-columns: 1fr;
  }
}
